*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/product/release/
/app/product/debug/
/app/dev/release/
/app/dev/debug/
/build
/captures
.externalNativeBuild
.cxx
.cursor
.memory_bank/
memory-bank/
custom_modes
optimization-journey
local.properties
/app/release/app-release.aab
